*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: black;
}

body{
    background-color: #00d5ff;
    padding: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}
.container {
    background-color: #9cd3de;
    width: 100vw;
    max-width: 76%;
    height: 86vh;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.login{
    width: 40%;
    height: 86vh;
    margin: auto auto;
    padding: 10px;
    display: flex  ;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}
.logo{
    border-radius: 100%;
    width: 9.8vw;
    height: 15vw;
    font-size: 1.1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.logo p{
    font-size: 0.8vw;
}

.logo .blue {
    color: #0095ff;
    font-weight: bold;
}

.logo .black {
    color: black;
    font-weight: bold;
}

.logo p {
    color: black;
}

.login_box {
    display: flex;
    flex-direction: column;
    padding: 10%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    gap: 1vh;
}

.login_box input {
    width: 100%;
    height: 6vh;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    background-color:  #e6ebec;
}
.login_box input:nth-last-child(2) {
    background-color: #b0e57c;
    font-weight: 600;
    color: white;
    margin: 5px;
}

.social_login{
    display: block;
    flex-wrap: nowrap;
}
.label {
    color: black;
}


.cadastro {
    font-size: 14px;
    margin-top: 5px;
}

.cadastro a {
    color: #0095ff;
    text-decoration: none;
    font-weight: bold;
}

.cadastro a:hover {
    text-decoration: underline;
}

.animal_img{
    width: 73vh;
    object-fit: cover;
    border-radius: 10px;
}

button:hover {
    background-color: #9cd667;
}

i{
    font-size: 30px;
    font-style: normal; 
    margin: 0px 10px;
}


